<br />

<div class="booyah-box col-10 offset-1">
	<h1>
		Careers at Flixter
	</h1>
	<p class="team-bio">
		At this time, there are no open positions on the Flixter team. <br />
		If you would like to be considered for future openings, please send your resume to careers@flixter.com.
	</p>
</div>