<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn Math from certified instructors.</h1>
		<br />
		<h2>Learn for the first time or brush up your skills!</h2>
		<br />
		<%= link_to	'See Course Options', courses_path, class: 'btn btn-success' %>
		<br /><br />
	</div>
</div>

<br/>
<div class="row feature text-center">
	<div class="col-12 col-sm">
		<h3>Instructional Videos</h3>
		<br />
		<p>Learn about any math topic.</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Real-World Examples</h3>
		<br />
		<p>Study for your next test!</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Teacher Interaction</h3>
		<br />
		<p>Get your questions answered by the experts.</p>
	</div>
</div>
